*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box
}
.container{

    background-color: black;
    margin-top: 30px;
}
button{
    padding: 20px;
    background: transparent;
    color: white;
    outline: none;
    border: none;
}
button:hover{
    background-color: white;
    color: black;
}